body {
	font-family: "Montserrat", sans-serif !important;
	font-size: 12px !important;
	line-height: 1.5em;
}
a {
	color: inherit;
}
p {
	font-size: 15px;
	line-height: 1.7em;
	font-family: "Open Sans", sans-serif;
}
.vce-lay-c + .vce-loop-wrap {
	width: 48%;
}
.vce-lay-c + .vce-loop-wrap article.vce-lay-d {
	height: auto !important;
	padding: 0 0 0 0px;
}
/*#main-box-5 .vce-lay-c+.vce-loop-wrap article{border:none;}*/

.vce-featured {
	.mobile-featured-image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
	}
}

#footer {
	background: #ecf0f1;
	border-top: 3px solid #006838;
	margin-top: 50px;
}
#inner-footer {
	width: 1122px;
	margin: 40px auto 0 auto;
	color: #232323;
	padding-bottom: 80px;
	& > div {
		display: inline-block;
		vertical-align: top;
	}
	& > div ul li {
		list-style: none;
		display: inline-block;
	}
	.social {
		width: 240px;
		&:before {
			content: "Mídias Sociais";
			display: block;
			text-transform: uppercase;
		}
		ul {
			margin: 20px 0 0 0;
		}
		a {
			// background: url("../images/map_icons.png") no-repeat -230px -1px;
			// display: block;
			display: flex;
			width: 44px;
			height: 44px;
			justify-content: center;
			align-items: center;
			margin-right: 10px;
			border-radius: 44px;
			border: 2px solid #006838;
			transition: all 0.3s ease-out;
			&:hover {
				background: #006838;
				i {
					color: #ecf0f1;
				}
			}
			i {
				font-size: 24px;
				display: table;
				color: #006838;
				transition: all 0.3s ease-out;
			}
		}
		// .instagram a {
		// 	background-position: -230px -1px;
		// }
		// .facebook a {
		// 	background-position: -293px -1px;
		// }
		// .twitter a {
		// 	background-position: -356px -1px;
		// }
	}
	.parceiros {
		width: 550px;
		&:before {
			content: "apoio e parceiros";
			display: block;
			text-transform: uppercase;
		}
		ul {
			margin: 10px 0 0 0;
			display: flex;
			flex-wrap: wrap;
			li {
				margin: 10px;
				display: flex;
				flex: 1 1 25%;
				align-items: center;
				justify-content: center;
			}
		}
	}
	.signature {
		position: relative;
		text-align: right;
		width: 320px;
		.selo {
			background: url("../images/map_icons.png") no-repeat -6px -300px;
			width: 158px;
			height: 49px;
			position: absolute;
			right: 0;
			top: -10px;
			display: none;
		}
		span {
			margin-top: 54px;
			display: block;
			color: #9d9d9d;
		}
		.sig {
			display: block;
			background: url("../images/map_icons.png") no-repeat -9px -482px;
			width: 101px;
			height: 9px;
			float: right;
			margin-top: 17px;
		}
	}
}

//fix for plugin
.mfp-container {
	.mfp-close {
		top: 23px !important;
		right: -16px !important;
		// background: url(../images/popup_close.png) !important;
		width: 36px;
		height: 37px;
		font-size: 0;
		min-width: initial;
	}
}

.site-branding .site-title a {
	background: url("../images/map_icons.png") no-repeat -1px -1px;
	width: 213px;
	height: 213px;
	text-indent: -9999px;
	display: block;
}
.site-branding .site-title a img {
	display: none;
}

#header {
	height: 243px;
}
#header:before {
	content: "";
	width: 100%;
	height: 160px;
	background-color: #f7f7f7;
	position: absolute;
}
body.home #header {
	height: 158px;
}
.site-content {
	border-top: 1px solid #ededed;
	padding-top: 0;
	margin-top: 15px;
}
body.home .vce-main-content {
	border-right: 1px solid #ededed;
	padding-right: 20px;
	width: 820px;
	max-width: 100%;
}
.main-navigation a:hover {
	box-shadow: none !important;
}

#vce_main_navigation_menu {
	float: left;
}
.nav-menu > li:first-child > a {
	padding-left: 0;
}
.nav-menu > li:last-child > a {
	padding-right: 0;
}
.sub-menu a {
	font-size: 11px !important;
	width: initial !important;
	border-bottom: 1px solid #a1a1a1;
	display: block;
	padding: 10px 0;
}
.sub-menu li:last-child a {
	border: none;
	padding-bottom: 0;
}
.sub-menu li:first-child a {
	padding-top: 0;
}
.sub-menu {
	border: 1px solid #91949a;
	background: rgba(255, 255, 255, 0.9) !important;
}
ul.nav-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 40%;
}
ul.nav-menu li.menu-item {
	-webkit-box-flex: auto;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
#vce_main_navigation_menu a {
	text-align: center;
}
#vce_main_navigation_menu .sub-menu a {
	text-align: left;
}
#vce_main_navigation_menu_2 {
	float: right;
	margin-right: -20px;
}
#main-wrapper {
	clear: both;
}
#vce_main_navigation_menu_2 li {
}
#vce_main_navigation_menu_2 a {
	text-align: center;
}
.top-header {
	display: none;
}
.header-bottom-wrapper {
	margin-top: -50px;
}

.vce-lay-c img {
	max-height: 260px;
	width: 100%;
	height: auto;
}
.main-box:not(.main-box-half) .vce-lay-c .meta-image > a {
	display: block;
	height: 260px;
	overflow: hidden;
}
.main-box:not(.main-box-half) .vce-lay-c .meta-image .entry-header {
	margin-top: 20px;
}
.main-box:not(.main-box-half) .vce-lay-c .meta-category {
	display: none;
}
.main-box:not(.main-box-half) .vce-lay-c .entry-title {
	text-align: left;
	font-size: 18px;
	padding: 0;
	line-height: 1.3em;
	margin: 0;
}
.main-box:not(.main-box-half) .vce-lay-c .entry-meta {
	text-align: left;
	padding: 0;
	margin: 0;
}
.main-box:not(.main-box-half) .vce-lay-c .entry-meta > div {
	font-size: 12px;
}
.main-box:not(.main-box-half) .vce-lay-c .excerpt {
	font-weight: normal !important;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 1em;
	color: #9b9b9b;
}
.main-box:not(.main-box-half) .vce-lay-c .readmore {
	font-family: Montserrat, sans-serif;
	color: #232323;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
}
.main-box:not(.main-box-half) .vce-lay-c .readmore i {
	padding-left: 18px;
}

.main-box-half .vce-lay-c .excerpt {
	display: none;
}
.main-box-half .vce-lay-c .meta-image {
	width: 100%;
	height: 246px;
	display: block;
}
.main-box-half .vce-lay-c .meta-image .entry-header {
	position: absolute;
	top: 45px;
}
.main-box-half .vce-lay-c .meta-image .entry-header .entry-title a,
.main-box-half .vce-lay-c .meta-image .entry-header .meta-item.date {
	color: #fff !important;
	text-shadow: rgba(0, 0, 0, 0.5) -3px 1px 8px;
}
.main-box-half .vce-lay-c + .vce-loop-wrap {
	width: 100%;
	padding: 0 24px;
}
.vce-lay-c .entry-content {
	float: none;
	clear: both;
	word-break: normal;
	display: none;
}
.vce-lay-d img {
	width: auto;
	min-width: initial;
	max-width: 84px;
	height: auto;
	min-height: initial;
	max-height: 63px;
}

.main-box-inside,
body:not(.home) .vce-related-box .main-box-inside {
	padding: 0;
}
#main-box-5 .main-box-inside {
	padding: 0 20px;
}
body:not(.home) .vce-related-box .main-box-inside article {
	margin-bottom: 10px !important;
	display: flex;
}
#main-box-6,
#main-box-7 {
	.vce-loop-wrap {
		display: flex;
		& > * {
			flex: 1;
		}
	}
}

.vce-related-box {
	-moz-box-shadow: none;
}
.vce-related-box article {
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.vce-related-box .vce-lay-d {
	border-bottom: 1px solid #e4e4e4;
	overflow: hidden;
	height: 112px !important;
	margin-bottom: 11px !important;
	margin: 0 20px;
	padding: 0;
}
.vce-related-box .vce-lay-d img {
	width: auto;
	height: auto;
	max-width: initial;
	max-height: initial;
}
.vce-related-box .entry-meta,
.vce-related-box .entry-meta a {
	color: #9b9b9b;
}
.vce-related-box .author {
	display: block;
}
.vce-related-box .entry-meta .date {
	margin: 0.15em 0;
}
.vce-related-box .main-box-title {
	margin-bottom: 20px;
}

.main-box-title {
	background-color: #006838;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	border: none !important;
	padding: 14px 0;
	margin-bottom: 20px;
}

.vce-slider-pagination .owl-nav > div {
	background: #e9e9e9 !important;
	color: #8a8a8a;
}
.vce-slider-pagination .owl-nav {
	text-align: right;
	margin-top: -60px;
}
.owl-carousel .owl-stage-outer {
	padding-bottom: 20px;
}
.vce-lay-e .entry-title {
	padding: 5px 0 0 0;
}
.vce-slider-e {
	&.owl-carousel .owl-stage-outer {
		padding-bottom: 0;
	}
	&.vce-slider-pagination .owl-nav {
		margin-top: 0;
	}
	.owl-controls {
		padding: 0 20px;
	}
}

/*SIDEBAR*/
#custom_html-5 .custom-html-widget {
	padding: 0;
}
.widget > form.vce-search-form {
	width: 100%;
	padding: 0;
}
.vce-search-form .vce-search-input {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 !important;
	height: 30px;
	border: none;
	background-color: #f3f3f3;
	width: 249px;
	transition: all 0.2s;
}
.sidebar button.vce-search-submit {
	display: inline-block;
	box-sizing: border-box;
	width: 10%;
	color: #a0a0a0;
	background-color: #e9e9e9;
	border-radius: 0 !important;
	margin: 0 0 0 -3px;
	height: 30px;
}
.sidebar .widget.widget_search {
	background: transparent !important;
	box-shadow: none;
}
.sidebar .widget-title {
	color: #fff !important;
	background: #006838 !important;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.sidebar .widget.widget_categories li a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color: #9b9b9b;
}
.widget_categories a .count {
	width: 31px;
	height: 28px;
}
.widget_categories li:before {
	content: "";
	position: absolute;
	width: 3px;
	height: 100%;
}
.count-hidden {
	float: right;
	width: 28px;
	text-align: center;
}
.widget_categories a {
	line-height: 28px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus,
#comment:focus,
textarea:focus {
	border: none;
	outline: none;
	box-shadow: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border-radius: 0;
}
.form.mc4wp-form label {
	display: none;
}
/*.form.mc4wp-form{white-space: nowrap;}*/
.form.mc4wp-form p {
	display: inline;
}
.form.mc4wp-form input[type="email"] {
	background-color: #fff;
	height: 32px;
	width: 211px;
}
.form.mc4wp-form input[type="submit"] {
	/*width: 43px !important;*/
	min-width: 43px !important;
	border-radius: 0 !important;
	background: #e9e9e9;
	color: #9b9b9b;
	font-weight: 700;
	margin-left: -2px;
	white-space: nowrap;
	word-break: normal;
}
.form.mc4wp-form input[type="submit"]:hover {
	color: #006838;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="password"],
select,
#comment,
textarea {
	border: 0 !important;
}
.instagram-pics .owl-stage-outer {
	padding-bottom: 5px;
}
.instagram-pics .owl-nav {
	text-align: right;
	overflow: hidden;
	display: inline-block;
	padding: 0 20px;
	float: right;
}
.instagram-pics .owl-nav > div {
	width: 34px !important;
	min-width: 34px !important;
	margin: 0 2px;
	background: #e9e9e9 !important;
	color: #8a8a8a;
	border-radius: 4px;
	font-size: 14px;
	line-height: 22px;
	padding: 5px 10px;
	text-decoration: none;
	border: none;
	min-width: 90px;
	background-position: center center;
	transition: all 0.2s ease-in-out;
	-webkit-appearance: none;
	text-align: center;
	float: left;
}
.null-instagram-feed p.clear {
	padding: 20px 20px 0 20px;
	margin-bottom: 1.3em;
}
.null-instagram-feed a[rel="me"] {
	display: block;
	font-weight: 700;
	padding: 0;
	margin: -14px 0 0 0;
	color: #006838;
}
.vce-single .meta-author {
	display: none !important;
}
/*
*::-webkit-input-placeholder {font-family:"Open Sans", sans-serif; font-size:13px; color:#9b9b9b};
*:-moz-placeholder {font-family:"Open Sans", sans-serif; font-size:13px; color:#9b9b9b};
*::-moz-placeholder {font-family:"Open Sans", sans-serif; font-size:13px; color:#9b9b9b};
*:-ms-input-placeholder {font-family:"Open Sans", sans-serif; font-size:13px; color:#9b9b9b};
*/
.entry-content {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	color: #232323;
}
.vce-single .entry-headline p {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.author-box .main-box-title {
	background-color: transparent;
	color: black;
	text-align: left;
	display: inline-block;
	border-bottom: 4px solid #006838 !important;
	padding: 4px 13px;
	font-size: 18px;
}

.vce-author-link.vce-button {
	display: none;
}
.author-box {
	margin-bottom: 0;
	border-bottom: 1px solid #dedede;
}
.author-box h4.author-title {
	margin-bottom: 0;
}
.author-box .data-entry-content p {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	color: #232323;
	line-height: 1.5em;
}
.author-box .data-entry-content {
	width: 71%;
}
.author-box .data-image {
	margin: 20px 0 0 10px;
}

h2.page-title {
	font-size: 16px;
	text-transform: uppercase;
	margin: 2.1em 0 0 0;
	color: #006838;
}
body:not(.home) .main-box-inside article {
	padding: 0;
	height: auto;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
	padding-bottom: 1.5em;
	margin-bottom: 40px !important;
	overflow: hidden;
	width: 369px !important;
}
body:not(.home):not(.single) .main-box-inside article:nth-child(2n) {
	margin-left: 30px !important;
}
body:not(.home):not(.single) .vce-lay-c .entry-content {
	display: block;
	padding: 0 6px 0 15px;
	margin: 0;
	overflow: hidden;
	text-align: left;
	color: #9b9b9b;
}
body:not(.home):not(.single) .vce-lay-c .entry-content p {
	font-size: 14px;
	line-height: 1.3em;
}
body:not(.home):not(.single) .readmore {
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	color: #232323;
	text-transform: uppercase;
	text-decoration: none;
}
body:not(.home):not(.single) .readmore .fa.fa-angle-right {
	font-size: 1.1em;
	margin-left: 0.7em;
}
body:not(.home):not(.single) .main-box-half .vce-lay-c .meta-image {
	height: 196px;
	margin-bottom: 18px;
	border-bottom-width: 5px;
}
body:not(.home):not(.single) .entry-meta,
body:not(.home):not(.single) .entry-meta a,
body:not(.home):not(.single) .entry-meta span {
	color: #fff;
	font-size: 12px;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}
/*body.page-noticias .main-box-half .vce-lay-c .excerpt{display: block;}*/
/*body.page-noticias .vce-lay-c .meta-image{margin:0 !important;}*/

#sticky_header {
	background-color: rgba(255, 255, 255, 0.9) !important;
	height: 82px;
	border: 1px solid #aaaaaa;
}
#sticky_header .site-title a {
	background: url(../images/stickyheaderlogo.png);
	width: 171px;
	height: 48px;
	display: block;
	text-indent: -9999px;
}

body.page-quem-somos .entry-content p {
	font-family: Montserrat, sans-serif;
	line-height: 1.8;
	margin-bottom: 1em;
}
body.page-quem-somos .entry-content h3 {
	font-family: "Open Sans", sans-serif;
	color: #006838;
	font-style: italic;
	margin-bottom: 1em;
	text-transform: uppercase;
}
body.page-quem-somos .entry-content em {
	font-family: "Open Sans", sans-serif;
	font-style: italic;
}
body.page-quem-somos .author-info {
	color: #9b9b9b;
}
body.page-quem-somos .author-info .alignleft + br {
	display: none;
}
body.page-quem-somos .author-info h3 {
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 600;
	text-transform: none;
	font-size: 16px;
}

.wpplist_title {
	clear: both;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	background: #006838 !important;
	color: #fff !important;
	text-align: center;
	padding: 0;
	height: auto;
	margin: 0;
	line-height: 40px;
}
.wpp-list {
	display: table;
	width: 100%;
	margin: 0 0 90px 0;
}
.wpp-list li {
	display: inline-block;
	width: 25%;
	text-align: center;
	margin-top: 30px;
	vertical-align: top;
}
.wpp-list li a {
	font-size: 14px;
	display: block;
	max-width: 155px;
	color: #232323;
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: auto;
}
.wpp-list li img {
	display: block;
	margin: 0 auto 5px auto;
	float: none;
}

// body.page-quem-somos .vce-page .entry-content{width: 90%;}

body.page-contato .contact {
	color: #000;
	font-weight: 700;
	text-decoration: none;
}
body.page-contato .ico {
	background-image: url("../images/map_icons.png");
	background-repeat: no-repeat;
	width: 44px;
	height: 45px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}
.ico.mail {
	background-position: 0 -365px;
}
.ico.facebook {
	background-position: -128px -365px;
}
.ico.instagram {
	background-position: -65px -365px;
}
.ico.twitter {
	background-position: -191px -365px;
}
body.page-contato .wpcf7-form {
	margin-top: 1.5em;
	overflow: hidden;
	margin-bottom: 5em;
}
body.page-contato .wpcf7-form br {
	display: none;
}
body.page-contato .wpcf7-form label {
	font-weight: 700;
	font-size: 14px;
	margin-top: 1em;
	display: block;
	padding: 0;
	color: #006838;
}
body.page-contato .wpcf7-form input[type="text"],
body.page-contato .wpcf7-form input[type="email"],
body.page-contato .wpcf7-form textarea {
	background-color: #f7f7f7;
	width: 100%;
}
body.page-contato .wpcf7-form input[type="submit"] {
	font-weight: 700;
	float: right;
	text-transform: uppercase;
	color: #9b9b9b;
	background-color: #e9e9e9;
	border-radius: 0;
	margin-top: 1em;
	min-width: initial;
	padding: 10px 20px;
}
body.page-contato .ico.pdf {
	background: url("../images/map_icons.png") no-repeat -250px -368px;
	width: 65px;
	height: 81px;
	display: inline-block;
	vertical-align: middle;
}
.midiakit .margin {
	padding: 20px;
	display: block;
	font-weight: 700;
}
.midiakitpdf {
	display: block;
	color: #006838;
	text-decoration: underline;
	margin: 2.5em 0 0 3em;
	font-family: Montserrat, sans-serif;
}

.vce-slider-pagination .owl-controls {
	background: #fff;
}
.widget_simpleimage {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.widget_simpleimage p {
	padding: 0;
}

.nav-menu > li:hover > a,
.nav-menu > .current_page_item > a,
.nav-menu > .current-menu-item > a,
.nav-menu > .current-menu-ancestor > a,
.main-navigation a.vce-item-selected,
.header-sticky .nav-menu > .current_page_item:hover > a,
.header-sticky .nav-menu > .current-menu-item:hover > a,
.header-sticky .nav-menu > .current-menu-ancestor:hover > a,
.header-sticky .main-navigation a.vce-item-selected:hover {
	background-color: transparent !important;
}
.vce-border-top .main-box-title {
	margin-bottom: 20px;
}

/*Calendário Widget*/
/*.sidebar .widget_event_list_widget{box-shadow: none;-moz-box-shadow:none;}*/
.widget_event_list_widget > div {
	padding: 0;
}
.event-list .event-title h3,
.event-list .event-details h1,
.event-list .event-details h2,
.event-list .event-details h3,
.event-list .event-details h4,
.event-list .event-details h5,
.event-list .event-details h6 {
	font-size: 13px;
	color: #9b9b9b;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 1;
}
.event-list > div {
	padding: 0;
}
.event-list ul.event-list-view {
	display: block;
}
.event-list li.event {
	padding: 0;
	margin: 0;
	border-left: 3px solid #00a451;
	background: #f7f7f7;
	position: relative;
	overflow: hidden;
	transition: all 0.2s;
	cursor: pointer;
	border-bottom: 1px solid #dfdfdf;
}
.event-list li.event:nth-child(2n) {
	border-left-color: #37b349;
}
.event-list li.event:nth-child(3n) {
	border-left-color: #8ac53e;
}
.event-list li.event:nth-child(3n) {
	border-left-color: #006838;
}
.event-list li.event:hover,
.event-list li.event.active,
.event-list li.event.feriado {
	background: #eeeded;
	border-left-width: 6px;
}
.event-list li > div {
	vertical-align: top;
}
.event-list .event-date {
	width: 80px;
	padding: 18px 0 0 0;
}
.event-list .event-info {
}
.event-list .event-year,
.event-list .event-weekday {
	display: none;
}
.event-list .event-day,
.event-list .event-month {
	font-family: Montserrat, sans-serif;
	text-align: center;
	color: #9b9b9b;
	text-transform: uppercase;
	margin: -0.5em;
}
.event-list .event-date {
	width: 80px;
	display: inline-block;
	text-align: center;
}
.event-list .event-info {
	display: inline-block;
}
.event-list .event-day {
	font-size: 16px;
}
.event-list .event-month {
	font-size: 12px;
}
.event-list .event-date.multi-date > div {
	display: inline-block;
	width: 45%;
}
.event-list .event-date.multi-date .end-date .event-day {
	font-size: 12px;
}
.event-list .event-date.multi-date .end-date .event-month {
	font-size: 9px;
	margin: -12px 0 0 0;
}
.event-list .event-title {
	height: 54px;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
}
.event-list .event-details {
	width: 100%;
	color: #9b9b9b;
	font-size: 13px;
	overflow: hidden;
	display: none;
}
.event-list .inner-event-details {
	padding: 20px;
}
.event-list .event-details p {
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
}
.sidebar .widget .event-list .event-details a {
	color: #006838;
}
.event-list .start-date,
.end-date {
	display: inline-block;
}
.event-list .event.feriado .event-date::after {
	margin-left: 15px;
	display: inline-block;
	width: 17px;
	height: 17px;
	content: "";
	background: url("../images/map_icons.png") no-repeat -329px -373px;
}
.widget_event_list_widget .vejamais {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background: #e9e9e9;
	font-size: 13px;
	padding: 5px !important;
}
.widget_event_list_widget .vejamais a {
	color: #9b9b9b !important;
}
.widget_easy_facebook_page_plugin {
	padding-bottom: 20px;
	h4.widget-title {
		margin-bottom: 20px;
	}
}
.event-list-view {
	margin: 0;
}
:not(.sidebar) .event-details-part {
	display: flex !important;
	flex-flow: row wrap;
}
:not(.sidebar) .event-details .event-image {
	width: 300px;
	vertical-align: top;
	flex: initial;
}
:not(.sidebar) .event-details .inner-event-details {
	vertical-align: top;
	flex: 1;
	padding-top: 0;
	padding-bottom: 0;
}
:not(.sidebar) .event-details .staticgmap {
	display: none;
} /*hide static gmap*/
.sidebar .event-details .dynamicgmap {
	display: none;
} /*hide dynamic gmap*/

#main-box-6 .vce-lay-c .meta-image,
#main-box-7 .vce-lay-c .meta-image {
	border: none;
}
body.home #main-box-6 .vce-lay-c .meta-image {
	border-bottom: none;
}
body.home .vce-module-columns .main-box-half {
	background: #f7f7f7;
	margin-bottom: 40px;
}
body.home .vce-module-columns .main-box-half article {
	background: transparent;
}

.container {
	padding: 0;
	width: 1140px;
	max-width: 100% !important;
}
body:not(.home) .vce-main-content {
	width: 820px;
	padding-right: 20px;
	border-right: 1px solid #ededed;
}
.vce-lay-g .meta-image {
	max-height: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.vce-lay-g .entry-title a {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.pibfi_pinterest .xc_pin {
	width: 60px;
	background-size: contain;
	background-repeat: no-repeat;
}
