body.page-template-template-hoteis main {
	h3 {
		font-size: 16px;
		color: #006838;
		line-height: 1;
	}
	.searchbylocation {
		position: relative;
		border: 1px solid #006838;
		padding: 20px;
		#searchbylocation {
			input[type="text"] {
				display: none;
			}
			.local-wrapper {
				display: flex;
				justify-content: center;
				select {
					font-size: 15px;
					background: #f3f3f3;
					margin-bottom: 1em;
					margin-left: 0.5em;
					margin-right: 0.5em;
				}
			}
			.loader {
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(white, 0.8);
				font-size: 16px;
				color: black;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				pointer-events: none;
				opacity: 0;
				transition: all 0.3s ease-out;
			}
			&.loading {
				.loader {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
		.search-hotel-button {
			display: block;
			font-size: 16px;
			margin: auto;
		}
	}
	.hotel-list-wrapper {
		.hotel-list {
			.item {
				width: 100%;
				display: flex;
				justify-content: space-between;
				background: #f3f3f3;
				box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
				font-family: "Open Sans", sans-serif;
				font-size: 15px;
				margin: 2em 0;
				p {
					margin-bottom: 1em;
				}
				h3 {
					font-size: 26px;
					line-height: 1;
					margin: 0;
					padding: 0;
					color: #006838;
				}
				.excerpt {
					margin: 1em 0;
				}
				.button {
					display: inline-block;
					background: #006838;
					padding: 10px 20px;
					color: white;
					font-weight: bold;
					border-radius: 5px;
					transition: all 0.3s ease-out;
					&:hover,
					&:focus,
					&:active {
						background: rgba(#006838, 0.8);
						text-decoration: none;
					}
				}
				.info {
					padding: 25px;
					.meta {
						& > div {
							line-height: 1.5;
						}
						.phone::before,
						.site::before {
							content: "\f095";
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							margin-right: 0.5em;
						}
						.site::before {
							content: "\f0ac";
						}
					}
				}
				figure {
					flex: 0 0 200px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
		.pagination {
			ul {
				list-style: none;
				display: flex;
				justify-content: center;
				li {
					border: 1px solid #006838;
					border-right: none;
					display: inline-block;
					font-size: 15px;
					&.prev,
					&.next {
						border: none;
					}
					&.next {
						border-left: 1px solid #006838;
					}
					a {
						display: block;
						width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						&.current {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}

body.single-hotel main {
	.hotel-meta {
		width: 100%;
		display: flex;
		justify-content: space-between;
		background: #f3f3f3;
		border: 1px solid #006838;
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		margin: 1em 0 2em;
		p {
			margin-bottom: 1em;
		}
		.info {
			padding: 20px;
			& > div {
				line-height: 1.5;
			}
			.phone::before,
			.site::before {
				content: "\f095";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				margin-right: 0.5em;
			}
			.site::before {
				content: "\f0ac";
			}
		}
	}
	.galeria {
		.slide {
			padding: 10px;
		}
	}
	.entry-content {
		columns: 2;
		column-gap: 30px;
	}
	.sustentabilidade {
		margin-top: 2em;
		margin-bottom: 2em;
		ul {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			&:after {
				content: "";
				flex: 1 1 auto;
			}
			li {
				flex: 0 0 100px;
				width: 100px;
				figure {
					width: 80px;
					height: 80px;
					display: inline-block;
					margin-bottom: 5px;
					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
				display: block;
				margin: 0 1em;
				margin-bottom: 1em;
				text-align: center;
			}
		}
	}
}
